<nav
  class="navbar  has-text-centered"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    OverStats
  </div>
</nav>

<div class="container">
  <div class="container search-container">
    <h1 class="title">Search for your stats</h1>
    <input
      type="text"
      placeholder="YourName#YourTag"
      class="input"
      [(ngModel)]="tag"
    />
    <button [disabled]="!isTagValid()" class="button" (click)="searchPlayer()">Search</button>
    <br />

    <div class="select">
      <select [(ngModel)]="selectedPlatform">
        <option *ngFor="let platform of platforms">{{ platform }}</option>
      </select>
    </div>
    <div class="select">
      <select [(ngModel)]="selectedRegion">
        <option *ngFor="let region of regions">{{ region }}</option>
      </select>
    </div>
  </div>
  <app-user-profile></app-user-profile>
  <router-outlet></router-outlet>
</div>
