<ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
  <p class="loading">Loading Profile...</p>
</ngx-spinner>
<div class="container" *ngIf="userProfile">
  <div class="columns">
    <div class="column is-4 user-profile">
      <app-user-info [name]="userProfile.name" [icon]="userProfile.icon" [ratings]="userProfile.ratings"></app-user-info>
    </div>
    <div class="column is-8">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <app-user-global-stats
              [gamesWon]="userProfile.gamesWon"
              [endorsement]="userProfile.endorsement"
              [prestige]="userProfile.prestige"
              [level]="userProfile.level"
            ></app-user-global-stats>
            <app-user-stats
              [gameStats]="userProfile.competitiveStats"
              title="Competitive stats"
            ></app-user-stats>
            <app-user-stats
              [gameStats]="userProfile.quickPlayStats"
              title="Quick Play stats"
            ></app-user-stats>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

