<div class="card">
  <header class="card-header">
    <h1 class="card-header-title">
      global stats
    </h1>
  </header>
  <div class="card-content">
    <table class="table">
      <thead>
        <tr>
          <td>Games won</td>
          <td>Endorsment level</td>
          <td>Level</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ gamesWon }}</td>
          <td>{{ endorsement }}</td>
          <td>
            {{ prestige + "" + level }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
