@import url('https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css');

@font-face {
    src: url('./assets/fonts/big_noodle_titling.ttf');
    font-family: 'Big Noodle';
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Big Noodle';

}

.navbar{
    background-color: #fa9c1e;
    text-align: center;
    padding: 1em 0;
    .navbar-brand{
        margin: 0px auto 0px auto;
        font-size: 30px;
    }
}
